@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@200;400;500;600;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} */

body {
  line-height: 1.5;
  background: #e9f1f1;
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  color: hsl(0, 1%, 18%);
  margin: 20px 10px;
}

p {
  color: hsl(0, 0%, 20%);
  margin: 20px 10px;
}

header {
  /* max-width: 1200px; */
  margin: 40px;
  font-weight: 900;
  font-size: 3rem;
  border-bottom: 1px solid #b89b79;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  max-width: 1200px;
  margin: 2rem auto;
}

article img,
article.featured img {
  width: 100%;
  border-radius: 0.3rem;
}

article.featured {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  border-bottom: 1px solid #b89b79;
  padding-bottom: 2rem;
}

/* Responsive */

@media screen and (max-width: 980px) {
  article {
    grid-column: span 3;
    margin: 0 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
}

@media screen and (max-width: 760px) {
  article,
  article.featured {
    display: block;
  }
}
